<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.miniproject.cafe.Mapper.MemberMapper">

    <insert id="registerMember" parameterType="MemberVO">
        INSERT INTO member (ID, EMAIL, PASSWORD, USERNAME, PROVIDER)
        VALUES (#{id}, #{email}, #{password}, #{username}, #{provider})
    </insert>

    <select id="isEmailDuplicate" parameterType="String" resultType="boolean">
        SELECT COUNT(*) > 0 FROM MEMBER WHERE email = #{email}
    </select>

    <select id="isIdDuplicate" parameterType="String" resultType="boolean">
        SELECT COUNT(*) > 0 FROM MEMBER WHERE id = #{id}
    </select>

    <select id="findByEmail" parameterType="string" resultType="MemberVO">
        SELECT * FROM MEMBER WHERE EMAIL = #{email}
    </select>

    <insert id="insertOAuthMember" parameterType="MemberVO">
        INSERT INTO MEMBER (ID, EMAIL, USERNAME, PASSWORD, PROVIDER)
        VALUES (#{id}, #{email}, #{username}, #{password}, #{provider})
    </insert>

    <update id="updateUser" parameterType="MemberVO">
        UPDATE MEMBER SET USERNAME = #{username} WHERE ID = #{id}
    </update>

</mapper>