<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.miniproject.cafe.Mapper.MenuMapper">

    <!-- 전체 메뉴 조회 -->
    <select id="getAllMenu" resultType="MenuVO">
        SELECT
            MENU_ID AS menuId,
            MENU_NAME AS menuName,
            CATEGORY AS category,
            SALES_STATUS AS salesStatus,
            MENU_IMG AS menuImg,
            MENU_PRICE AS menuPrice,
            HOT_AVAILABLE AS hotAvailable
        FROM MENU
        ORDER BY MENU_ID ASC
    </select>

    <select id="getMenuByCategory" parameterType="string" resultType="MenuVO">
        SELECT
            MENU_ID AS menuId,
            MENU_NAME AS menuName,
            CATEGORY AS category,
            SALES_STATUS AS salesStatus,
            MENU_IMG AS menuImg,
            MENU_PRICE AS menuPrice,
            HOT_AVAILABLE AS hotAvailable
        FROM MENU
        WHERE CATEGORY = #{category}
        ORDER BY MENU_ID ASC
    </select>

    <!-- 단일 메뉴 조회 -->
    <select id="getMenuById" parameterType="string" resultType="MenuVO">
        SELECT
            MENU_ID AS menuId,
            MENU_NAME AS menuName,
            CATEGORY AS category,
            SALES_STATUS AS salesStatus,
            MENU_IMG AS menuImg,
            MENU_PRICE AS menuPrice,
            HOT_AVAILABLE AS hotAvailable
        FROM MENU
        WHERE MENU_ID = #{menuId}
    </select>

    <!-- 메뉴 추가 -->
    <insert id="insertMenu" parameterType="MenuVO">
        INSERT INTO MENU (MENU_ID,
                          MENU_NAME,
                          CATEGORY,
                          SALES_STATUS,
                          MENU_IMG,
                          MENU_PRICE,
                          HOT_AVAILABLE)
        VALUES (
                #{menuId},
                #{menuName},
                #{category},
                #{salesStatus},
                #{menuImg},
                #{menuPrice},
                #{hotAvailable}
               )
    </insert>

    <!-- 메뉴 수정 -->
    <update id="updateMenu" parameterType="MenuVO">
        UPDATE MENU
        SET MENU_NAME = #{menuName},
            CATEGORY = #{category},
            SALES_STATUS = #{salesStatus},
            MENU_IMG = #{menuImg},
            MENU_PRICE = #{menuPrice},
            HOT_AVAILABLE = #{hotAvailable}
        WHERE MENU_ID = #{menuId}
    </update>

    <!-- 메뉴 삭제 -->
    <delete id="deleteMenu" parameterType="string">
        DELETE FROM MENU
        WHERE MENU_ID = #{menuId}
    </delete>

</mapper>