.login-container {
    margin: auto; /* 화면 중앙 정렬 */
    width: 100%;
    max-width: 800px; /* 너무 넓어지지 않도록 제한 */
    background-color: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
}

.header {
    background-color: #b3875a;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 24px;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

label {
    margin-top: 15px;
    font-size: 14px;
    color: #333;
}

input {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 8px 5px;
    font-size: 15px;
    outline: none;
    flex: 1;
    transition: border-color 0.3s;
}

input:focus {
    border-bottom: 1px solid #b3875a;
}

button {
    margin-top: 30px;
    padding: 10px;
    background-color: #b3875a;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #a06c3d;
}