body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f0e8;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #a67c52;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
}

.controls {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.controls select, .controls button {
    padding: 5px 10px;
    margin-right: 10px;
    font-size: 16px;
}

.container .control .view {
    padding-left: 10px;
}

.total-revenue {
    font-size: 18px;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #d9b382;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f2e7d5;
}

.footer-nav {
    background-color: var(--main-brown);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-nav-item {
    flex: 1;
    padding: 2rem 0;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s;
}

.footer-nav-item.active {
    background-color: var(--active-orange);
}

.footer-nav-item:not(.active):hover {
    background-color: var(--hover-orange);
}
