.menu-list-container {
    padding: 0px 15px;
    background-color: rgba(255,255,255,0.7);
    border-bottom: 1px solid #ddd;
}
.menu-item {
    display: flex;
    align-items: center;
    padding: 15px 0;
    cursor: pointer;
}

.menu-item:last-child {
    border-bottom: 1px solid #eee;
}
.menu-image {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    margin-right: 15px;
    object-fit: cover;
    background-color: #f5f5f5;
}
.menu-details {
    flex-grow: 1;
}
.menu-name {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin-bottom: 5px;
}
.menu-temp {
    font-size: 14px;
    font-weight: bold;
    color: #1a73e8;
    margin-right: 5px;
}
.menu-temp.hot {
    color: #d93025;
}
.menu-price {
    font-size: 16px;
    color: #5A3E2B;
    font-weight: 500;
}