<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Java Coffee</title>
</head>
<th:block th:replace="~{./include/userBaseLayout :: setContent( ~{:: .wrap} ) }">
    <div class="wrap">
        <div class="main-banner">
            <img src="/images/메인배너.png" alt="Summer Promotion">
            <span class="banner-pagination">1/2</span>
        </div>

        <main class="container">
            <section class="previous-orders">
                <div class="previous-orders-header">
                    <h2 class="previous-orders-title">이전 주문내역</h2>
                    <a href="order_history" class="previous-orders-more">더보기</a>
                </div>
                <div class="previous-orders-grid">
                    <a href="#" class="previous-order-item">
                        <img src="/images/image2.png" alt="아메리카노">
                        <p class="item-name">아메리카노</p>
                    </a>
                    <a href="#" class="previous-order-item">
                        <img src="/images/cafelatte.png" alt="카페라떼">
                        <p class="item-name">카페라떼</p>
                    </a>
                    <a href="#" class="previous-order-item">
                        <img src="/images/capuchino.png" alt="카푸치노">
                        <p class="item-name">카푸치노</p>
                    </a>
                    <a href="#" class="previous-order-item">
                        <img src="/images/vanillaLatte.png" alt="바닐라라떼">
                        <p class="item-name">바닐라라떼</p>
                    </a>
                    <a href="#" class="previous-order-item">
                        <img src="/images/espresso.png" alt="에스프레소">
                        <p class="item-name">에스프레소</p>
                    </a>
                </div>
            </section>

            <section class="reward-section">
                <div class="reward-item">
                    <span class="icon stamp-icon"><i class="fa-solid fa-stamp"></i></span>
                    <span class="text">스탬프 0/10</span>
                </div>
                <div class="divider"></div>
                <div class="reward-item">
                    <span class="icon coupon-icon">🎟️</span>
                    <span class="text">쿠폰 0</span>
                </div>
            </section>
        </main>
    </div>
</th:block>
</html>